.wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.box {
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    border-radius: 14px 0px 0px 14px;
    padding: 19px;
    align-items: center;
    display: flex;
    gap: 15px;
}

.sel {
    color: rgb(63, 81, 181);
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    border: none;
    outline: none;
}

.form {
    width: 530px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    border-radius: 0px 14px 14px 0px;
    padding: 16px 14px 16px 29px;
}

.input {
    border: none;
    outline: none;
    background-color: transparent;

    &::placeholder {
        color: #aaaaaa;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
}
.search_btn{
    background-color: transparent;
    border-left:1px solid  #e1e1e1;
    padding-left: 15px;
}