/* cairo-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/cairo-v28-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* cairo-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/cairo-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* cairo-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/cairo-v28-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Cairo';
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    display: inline-block;

    &:hover{
        color:black;
    }
}
button {
    cursor: pointer;
    border: none;

    &:active{
        transform: scale(0.9);
    }
}
select{
    outline: none;
    cursor: pointer;
}
.container {
    max-width: 1290px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}